{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ANNO Amsterdam</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.6/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.6/datatables.min.js"></script>

        {% tailwind_css %}

        <style >
        #map {
            width: 100%;
            height: 50vh;
            margin-bottom: 5%;
            margin-right: 2%;
            position: center;
        }
    </style>
    </head>
<body>
    {% block content %}
        {% include 'navbar.html' %}
        <section>
  <div class="px-3 pt-24 md:pt-20 flex flex-wrap justify-between items-center">
    <!-- Left section -->
    <div class="px-3 flex flex-col sm:flex-row items-center justify-between">
      <div class="flex items-center space-x-2 mb-1 sm:mb-0">
        {# TODO: Implement the number selected to be dynamically calculated #}
        <span class="text-gray-400 text-xs">3 selected</span>
        <select
          id="dropdownHoverButton1"
          data-dropdown-toggle="dropdownHover"
          data-dropdown-trigger="hover"
          class="bg-white border border-gray-300 text-gray-500 rounded-md px-2 py-1 text-xs shadow-sm hover:shadow-lg flex items-center"
          type="button"
        >
          <option>Actions</option>
          <option>Action 2</option>
          <option>Action 3</option>
        </select>

        <!-- Close button -->
        <button>
          <svg
            class="w-[8px] h-[8px] text-gray-800 dark:text-white stroke-red-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>

        <!-- All dropdown menu button -->
        <select
          id="dropdownHoverButton2"
          data-dropdown-toggle="dropdownHover"
          data-dropdown-trigger="hover"
          class="bg-white border border-gray-300 text-gray-500 rounded-l px-3 py-1 text-xs shadow-sm hover:shadow-lg flex items-center"
          type="button"
        >
          <svg
            class="w-[10px] h-[10px] mr-2 my-1 text-gray-800 dark:text-white fill-gray-600"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 18"
          >
            <path
              d="M18.85 1.1A1.99 1.99 0 0 0 17.063 0H2.937a2 2 0 0 0-1.566 3.242L6.99 9.868 7 14a1 1 0 0 0 .4.8l4 3A1 1 0 0 0 13 17l.01-7.134 5.66-6.676a1.99 1.99 0 0 0 .18-2.09Z"
            />
          </svg>
          <option>All</option>
          <option>Recent</option>
        </select>

        <div
          class="flex items-center border border-gray-300 rounded-r px-2 py-1 bg-white shadow-sm"
        >
          <i class="fas fa-search text-gray-400"></i>
          <input type="text" placeholder="Search" class="ml-2 text-xs p-0" />
        </div>
      </div>
    </div>
    <button
      class="bg-blue-950 text-white text-sm px-1 md:px-4 py-1 rounded-md hover:bg-sky-900 focus:outline-none"
    >
      + New building
    </button>
  </div>
  <div class="flex space-x-4 py-3 px-6 items-center">
    <div class="flex items-center space-x-2 text-xs">
      <span class="text-gray-500 font-semibold">All</span>
      <div class="bg-gray-200 rounded-full px-2 py-1">
        <span class="text-gray-400 font-medium">5</span>
      </div>
    </div>
    <div class="flex items-center space-x-2 text-xs">
      <span class="text-gray-500 font-semibold">Missing Images</span>
      <div class="bg-gray-200 rounded-full px-2 py-1">
        <span class="text-gray-400 font-medium">4</span>
      </div>
    </div>
    <div class="flex items-center space-x-2 text-xs">
      <span class="text-gray-500 font-semibold">Incomplete description</span>
      <div class="bg-gray-200 rounded-full px-2 py-1">
        <span class="text-gray-400 font-medium">9</span>
      </div>
    </div>

      <div class="flex items-center space-x-2 text-xs">
      <span class="text-gray-500 font-semibold">Incomplete timeline</span>
      <div class="bg-gray-200 rounded-full px-2 py-1">
        <span class="text-gray-400 font-medium">9</span>
      </div>
    </div>
  </div>

  {# Buildings table #}
  <div id="buildings-table" class="min-h-screen bg-gray-100">
    <div class="overflow-x-auto table-responsive">
        <table id="buildings-data" class="">
            <thead class="">
                <tr class="">
                    <th class="px-4 sm:px-8"><input type="checkbox"/></th>
                    <th class="font-medium text-gray-600 text-sm -ml-"></th>
                    <th class="font-medium text-gray-600 text-sm px-8">ZIP</th>
                    <th class="font-medium text-gray-600 text-sm px-8">ADDRESS</th>
                    <th class="font-medium text-gray-600 text-sm px-8">ANNO</th>
                    <th class="font-medium text-gray-600 text-sm px-8">STATUS</th>
                    <th class="font-medium text-gray-600 text-sm px-8">LAST UPDATE</th>
                    <th class="font-medium text-gray-600 text-sm px-8">PICTURES</th>
                    <th class="font-medium text-gray-600 text-sm px-8">TAGS</th>
                    <th class="font-medium text-gray-600 text-sm px-8">TYPE</th>
                </tr>
            </thead>
            <tbody class="bg-white mt-5">
            <tr>
                <td class="px-4 sm:px-8"><input type="checkbox"/></td>
                <td>
                    <button onclick="toggle(this)" class=" py-2 px-3 stroke-sky-900 md:w-auto  md:border-0 md:hover:text-sky-600 md:p-0">
                        <svg class="w-[10px] h-[10px] ms-3 stroke-sky-950 fill-none" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                </td>
                <td class="font-medium text-sky-950 text-sm px-8"><button>1011 AD</button></td>
                <td class="font-medium text-sky-950 text-sm px-8">
                    <button class="flex">
                        <svg class="w-[12px] h-[12px] fill-sky-950 stroke-sky-950 my-1 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                            <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                            <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
                        </svg>
                        Single 144
                    </button>
                </td>
                <td class="font-medium text-gray-500 text-sm px-10"> <p class="bg-gray-100 px-2 rounded-md">1800</p></td>
                <td class="font-medium text-sm px-8"> <p class="text-gray-500 bg-green-100 px-2 py-0.5 rounded-md">Active</p></td>
                <td class="font-medium text-sky-950 text-sm px-8"> <p class="px-2">28.12.2023</p></td>
                <td class="px-12">
                    <span class="bg-gray-100 text-gray-400 rounded-md font-medium text-sm px-2"><button>4</button></span>
                </td>
                <td class="font-medium text-gray-500 text-xs px-8">
                    <ul class="space-x-1 flex">
                        <li class="text-gray-500 bg-gray-100 px-3 rounded-xl py-1"><button>Frame facade</button></li>
                        <li class="text-gray-500 bg-gray-100 px-3 rounded-xl py-1"><button>Stepped gable</button></li>
                    </ul>
                </td>
                <td class="font-medium text-sky-950 text-sm px-8"> <p class="px-2">Residential Building</p></td>
            </tr>

            {# Dropdown building details #}
            <tr id="building-data" class="shadow-lg" hidden="hidden">
                <td colspan="3" class="h-5">
                    <div class="bg-white px-6 shadow-md flex flex-col">
                    <h1 class="text-md font-bold mb-2 mt-6 text-sky-900">Anno 1600</h1>
                    <h2 class="text-md font-bold mb-2 text-sky-900">SINGEL 140-142</h2>
                    <div class="flex flex-wrap items-center">
                      <span class="text-xs bg-gray-200 px-2 py-1 mr-2 mb-2">
                        Distance to ??? meters
                      </span>
                      <span class="text-xs bg-gray-200 px-2 py-1 mb-2">
                        Residential building
                      </span>
                    </div>
                    <div class="flex flex-wrap items-center mb-6">
                      <span class="text-xs bg-gray-200 px-2 py-1 mr-2 mb-2">
                        Hendrick de Keyser
                      </span>
                      <span class="text-xs bg-gray-200 px-2 py-1 mb-2">
                        Stepped gable
                      </span>

                    </div>
                    <p class="mb-6 text-xs">
                      This house is called De Dolphijn. It is one of three examples in
                      Amsterdam of an early 17th century house with side house (the
                      predecessor of the double house). The second resident, Frans
                      Banninck Cocq, was a lieutenant of the militia in 1635 and in that
                      capacity he was immortalized by Rembrandt in 1642 in the 'Night
                      Watch'.
                    </p>
                  </div>
                </td>

                {# Timeline #}
                <td colspan="3">
                    <div class="bg-white px-6 shadow-l flex flex-col">
                        <div class="flex justify-between items-center mb-6">
                          <h2 class="text-md font-bold text-sky-900">TIMELINE</h2>
                        </div>
                        <div class="relative text-xs">
                          <div class="absolute left-2 w-0.5 bg-custom-blue rounded-b-3xl rounded-t-3xl"></div>
                          <div class="space-y-4 ml-8">
                            <div class="flex items-center">
                              <div class="absolute left-0 w-2.5 h-2.5 bg-sky-900 rounded-full ml-1"></div>
                              <div class="text-sky-900">1600</div>
                              <div class="font-semibold ml-3">Build</div>
                            </div>
                            <div class="flex items-center">
                              <div class="absolute left-0 w-2.5 h-2.5 bg-sky-900 rounded-full ml-1"></div>
                              <div class="text-sky-900">1609</div>
                              <div class="font-semibold ml-3">
                                Resident: Volckert Overlander
                              </div>
                            </div>
                            <div class="flex items-center">
                              <div class="absolute left-0 w-2.5 h-2.5 bg-sky-900 rounded-full ml-1"></div>
                              <div class="text-sky-900">1630</div>
                              <div class="font-semibold ml-3">
                                Resident: Frans Banninck Cocq
                              </div>
                            </div>
                            <div class="flex items-center">
                              <div class="absolute left-0 w-2.5 h-2.5 bg-sky-900 rounded-full ml-1"></div>
                              <div class="text-sky-900">1679</div>
                              <div class="font-semibold ml-3">
                                Division of 2 houses: De Vergulde Dolphijn &amp; De Kleynne
                                Dolphijn
                              </div>
                            </div>
                            <div class="flex items-center">
                              <div class="absolute left-0 w-2.5 h-2.5 bg-sky-900 rounded-full ml-1"></div>
                              <div class="text-sky-900">1863</div>
                              <div class="font-semibold ml-3">
                                Gable top of right house replaced by frame gable
                              </div>
                            </div>
                            <div class="flex items-center">
                              <div class="absolute left-0 w-2.5 h-2.5 bg-sky-900 rounded-full ml-1"></div>
                              <div class="text-sky-900">1967</div>
                              <div class="font-semibold ml-3">
                                Restoration + reconstruction stepped gable
                              </div>
                            </div>
                            <div class="flex items-center">
                              <div class="absolute left-0 w-2.5 h-2.5 bg-sky-900 rounded-full ml-1"></div>
                              <div class="text-sky-900">Now</div>
                              <div class="font-semibold ml-3">
                                Residential building
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </td>

                {# Map #}
                <td colspan="3" class="">
                    {% include 'map.html' %}
                </td>
                <td colspan="1" class="items-center">
                    <h2 class="text-md font-bold text-sky-900">INFORMATION</h2>
                    <div class="space-y-4 text-xs items-center">
                      <div class="flex items-center">
                        <div><span class="bg-gray-100 text-gray-600 rounded-md font-medium px-2">4</span> pictures uploaded</div>
                      </div>
                      <div class="flex items-center">
                        <div><span class="bg-gray-100 text-gray-600 rounded-md font-medium px-2">7</span> timeline entries</div>
                      </div>
                      <div class="flex items-center">
                        <div><span class="bg-gray-100 text-gray-600 rounded-md font-medium px-2">2</span> tags added</div>
                      </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
  </div>
</section>

    {% endblock %}
</body>

<script>
  let toggle = button => {
    let element = document.getElementById("building-data");
    let hidden = element.getAttribute("hidden");

    if (hidden) {
       element.removeAttribute("hidden");
    } else {
       element.setAttribute("hidden", "hidden");
    }
  }

  $(document).ready(function() {
        $('buildings-data').DataTable();
    });

</script>
</html>
