<!DOCTYPE html>
<html>
  <head>
    <title>Buildings</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    {% include 'navbar.html' %} {% block content %}
    <section class="px-10 mt-24">
      {# Search Bar #}
      <div>
        <input
          type="text"
          value="Search...eg. Schoonzichtlaan 162"
          class="w-full text-gray-300 rounded-lg border-2 border-gray-400"
        />
      </div>

      {# TODO: Implement Map #} {# Map #}
        <div id="map" class="w-full"></div>
    </section>
    {% endblock %}

    <script>
        mapboxgl.accessToken = {{ mapbox_access_token }};
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: {lat: 52.377956, lng: 4.897070}
            {#  other parameters to use: dragPan, minZoom  #}
        });
    </script>
  </body>
