{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ANNO Amsterdam</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

    {% tailwind_css %}


    <style>
        /* Style for image preview boxes */
        .image-box {
            width: 300px; /* Increased Width of the box */
            height: 300px; /* Increased Height of the box */
            margin: 30px 10px 40px; /* Space between boxes */
            border: 1px solid #ccc; /* Border around the box */
            border-radius: 5%;

            position: relative; /* Positioning context for the close button */
            display: inline-block; /* Align boxes in a grid */
        }
        .image-box img {
            width: 100%; /* Make image fill the box */
            height: 100%; /* Make image fill the box */
            object-fit: cover; /* Ensure aspect ratio is maintained */
            border-radius: 5%;
        }
         .image-box .close-btn {
        position: absolute;
        top: -10px;
        right: -10px;
        background: red;
        color: white;
        border-radius: 50%; /* Adjusted for a more squared appearance */
        padding: 5px 10px; /* Adjust padding as needed */
        cursor: pointer;
        font-size: 14px;
        font-weight: bold; /* Make the '×' symbol more prominent */

        }
        .image-box .add-btn {
            position: absolute;
            bottom: -10px; /* Position at the bottom */
            right: -10px; /* Adjust position */
            background: green; /* Green background for add button */
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 14px;
        }
        .image-info{
            display: flex; /* Use flexbox for horizontal layout */
            justify-content: space-between; /* Distribute space between children */
            padding-top: 14px;
            padding-bottom: 14px;
        }
        .selected-preview {
        box-shadow: 0px 0px 20px 4px #4CAF50; /* Larger green glow */
    }
         #imagePreview {
            margin-bottom: 50px; /* Adjust as needed for ample space */
        }
    </style>
  </head>

  {% block content %} {% include 'navbar.html' %}
  <section class="px-10 mt-24">

      <h2 class="text-sky-900 text-2xl font-bold uppercase">
        {{ selected_building.address }}
      </h2>

      <div class="p-8 text-sky-900">
        <div class="flex flex-wrap -mx-2 mb-4">
          <div class="w-full px-2 mb-4 md:w-1/2 md:mb-0">
            <label for="{{ form.location.id_for_label }}" class="block text-sm font-medium text-sky-900"
              >Latitude</label
            >
            <input
              type="number"
              step=".00000000000001"
              id="{{ form.location.id_for_label }}"
              name="{{ form.location.id_for_label }}"
              value="{{ selected_building.location.coordinates.0 }}"
              class="mt-1 block w-full pl-2 pr-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
          </div>
          <div class="w-full md:w-1/2 px-2">
            <label
              for="{{ form.location.id_for_label }}"
              class="block text-sm font-medium text-sky-900"
              >Longitude</label
            >
            <input
              type="number"
              step=".0000000000001"
              id="{{ form.location.id_for_label }}"
              name="{{ form.location.id_for_label }}"
              value="{{ selected_building.location.coordinates.1 }}"
              class="mt-1 mb-4 block w-full pl-2 pr-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
          </div>
        </div>
        <div class="md: grid gap-8">
          <div>
            <div class="flex flex-wrap -mx-2 mb-4">
              <div class="w-full px-2 mb-4 md:w-1/2 md:mb-0">
                <label for="{{ form.address.id_for_label }}" class="block text-sm font-semibold mb-2">Address</label>
                <input
                  type="text"
                  name="{{ form.address.id_for_label }}"
                  id="{{ form.address.id_for_label }}"
                  placeholder="Address ..."
                  class="w-full p-2 border border-gray-300 rounded-lg mb-4 focus:border-sky-900"
                  value="{{ selected_building.address }}"
                  required
                />
              </div>
              <div class="w-full md:w-1/2 px-2">
                <label for="{{ form.construction_year.id_for_label }}" class="block text-sm font-semibold mb-2"
                  >Construction year</label
                >
                <input
                  type="text"
                  value="{{ selected_building.construction_year }}"
                  name="{{ form.construction_year.id_for_label }}"
                  class="w-full p-2 border border-gray-300 rounded-lg mb-4"
                  required
                />
              </div>
            </div>

            <div class="flex flex-wrap -mx-2 mb-4">
              <div class="w-full px-2 mb-4 md:w-1/2 md:mb-0">
                <label for="{{ form.type_of_use.id_for_label }}" class="block text-sm font-semibold mb-2"
                  >Type of Use</label
                >
                <input
                  id="typeOfUseSelect"
                  name="{{ form.type_of_use.id_for_label }}"
                  class="w-full p-1/2 border border-gray-300 rounded-lg mb-4"
                  value="{{ selected_building.type_of_use }}"
                  required
                />
              </div>
              <div class="w-full md:w-1/2 px-2">
                <label for="{{ form.name.id_for_label }}" class="block text-sm font-semibold mb-2"
                  >Name of the building (to show an alternative name instead of
                  the address)</label
                >
                <input
                  type="text"
                  id="{{ form.name.id_for_label }}"
                  name="{{ form.name.id_for_label }}"
                  class="w-full p-2 border border-gray-300 rounded-lg mb-4"
                  value="{{ selected_building.name }}"
                />
              </div>
            </div>
            <label for="{{ form.tags.id_for_label }}" class="block text-sm font-semibold mb-2">Tags</label>
            <input
              id="tagInput"
              name="{{ form.tags.id_for_label }}"
              value=""
              class="w-full p-1/2 border border-gray-300 rounded-lg mb-4"
            />
          </div>
          <div>
            <label for="{{ form.description.id_for_label }}" class="block text-sm font-semibold mb-2"
              >Description (250+ characters)</label
            >
            <textarea
              name="{{ form.description.id_for_label }}"
              id="{{ form.description.id_for_label }}"
              class="w-full p-2 border border-gray-300 rounded-lg mb-4"
              rows="3"
              required
            >
{{ selected_building.description }}</textarea
            >
          </div>
        </div>
      <hr>
        <div>
          <h2 class="text-md font-bold text-sky-900 uppercase">Images</h2>
          <div
            class="flex shadow rounded-xl bg-gray-100 overflow-x-auto overflow-y-auto mt-4 p-4"
          >
                 <div id="imagePreview" class="flex justify-center flex-wrap mt-4">
                <!-- Image thumbnails will be added here in little boxes -->
            </div>
          </div>
        <!-- Image preview area above the buttons -->

            <!-- Form for Image Upload and Google Maps Search -->
            <div class="flex space-x-4 justify-center items-center my-2">
                <form method="post" enctype="multipart/form-data" class="p-8 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 font-[\'Oswald\']">
                    <!-- Hidden input for file upload -->
                    <input type="file" id="upload" name="images" multiple class="hidden" onchange="previewImages()" />

                    <!-- Label acting as button for file upload -->
                    <label for="upload" class="btn-same-height bg-sky-900 px-12 py-3 justify-center items-center rounded-3xl text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                        Upload Pictures to the Building
                    </label>

                    <!-- Button for Google Maps Search (functionality to be implemented) -->
                    <button type="button" class="btn-same-height border-2 rounded-3xl border-sky-900 px-12 py-3 text-sky-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" onclick="openAmsterdamArchief()" >
                        Browse Amsterdam Stadsarchief for Images
                    </button>

                    <!-- Image preview area -->
                    <div id="imagePreview" class="flex flex-wrap mt-4">
                        <!-- Image thumbnails will be added here -->
                    </div>
                </form>
            </div>
        <hr class="py-2">
          <div>
            <h2 class="text-md font-bold text-sky-900 uppercase mt-8">
              TIMELINE
            </h2>
            <div
              class="bg-white px-4 flex flex-col my-6 rounded overflow-y-auto"
            >
              <div class="relative overflow-auto">
                <div
                  class="absolute ml-3 mt-3 top-0 bottom-0 w-0.5 bg-custom-blue rounded-b-3xl rounded-t-3xl"
                ></div>

              </div>
            </div>

            <!-- Disclaimer -->
            <div class="mb-4 text-gray-600">
              <p>
                <strong>Disclaimer:</strong> The timeline will be stored and
                presented in the order you add the events. Please ensure the
                accuracy and order of events before submitting.
              </p>
            </div>
            <!-- Initial Timeline Element with Add Button -->
            <div
              id="initialTimeline"
              class="bg-white shadow rounded-lg p-4 flex items-center justify-between"
            >
              <!-- Year Input -->
              <div class="flex items-center">
                <label
                  for="year_1"
                  class="block text-sm font-medium text-gray-700 mr-4"
                  >Year</label
                >
                <input
                  type="text"
                  id="year_1"
                  name="year"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-16 text-gray-900 border-gray-300 rounded-md"
                  placeholder="1903"
                />
              </div>
              <!-- Event Input -->
              <div class="flex-1 ml-4">
                <input
                  type="text"
                  id="event_1"
                  name="event"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full text-gray-900 border-2 rounded-md"
                  placeholder="Enter event description"
                />
              </div>
              <!-- Add Button -->
              <button
                id="addTimeline"
                class="ml-4 bg-sky-900 p-2 rounded-full text-white hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              >
                <!-- SVG for Plus Icon -->
                <i class="fas fa-plus"></i>
              </button>
            </div>

            <!-- Timeline Template (Hidden) -->
             <template id="timelineTemplate">
                <div class="timeline-item bg-white shadow rounded-lg p-4 flex items-center justify-between">
                    <div class="flex items-center">
                        <label class="block text-sm font-medium text-gray-700 mr-4">Year</label>
                        <input type="text" class="yearInput shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-16 text-gray-900 border-gray-300 rounded-md" placeholder="1903" />
                    </div>
                    <div class="flex-1 ml-4">
                        <input type="text" class="eventInput shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full text-gray-900 border-2 rounded-md" placeholder="Event description" />
                    </div>
                    <button class="deleteButton ml-4 bg-red-900 p-2 rounded-full text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"><i class="fas fa-minus"></i></button>
                </div>
            </template>

          <!-- Timeline Container -->
          <div id="timelineContainer"></div>
        </div>

        <div class="flex justify-center mt-8">
          {% include 'cancel-button.html' %}
          <button
            id="saveButton"
            class="py-2 sm:px-8 px-6 bg-blue-500 rounded-3xl shadow text-white"
            type="submit"
            onclick="saveButtonPopUp()"
          >
            Save Details
          </button>
        </div>
      </div>
  {{ name }}
  </section>
  {% endblock %}

  <script>
    function saveButtonPopUp() {
    var button = document.getElementById("saveButton");
    button.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default form submission behavior
        submitBuildingData();   // Call the function to submit building data
    });
}
    var closeBtn = document.createElement('span');
    closeBtn.innerHTML = '&times;';
    closeBtn.className = 'close-btn';
    closeBtn.onclick = function(event) {
        event.stopPropagation();
        box.remove();
        imageBoxCount--;
        if (box.id === selectedPreviewId) selectedPreviewId = null;
        updateAddButton();

        if(isSessionImage) {
            removeImageFromSession(index);
        }
        else
        {
            processedFiles.delete(fileIdentifier);
        }
    };

    var timelineDataOfBuilding;
    try {
        // Attempt to parse the timeline data from the Django template
        timelineDataOfBuilding = {{ timeline|safe }};
        console.log('Timeline Data from DB', timelineDataOfBuilding)
    } catch(e) {
        // If parsing fails, default to an empty array
        timelineDataOfBuilding = [];
    }

    $(document).ready(function () {
      let idCounter = 2; // Start from 2 since we already have one timeline entry

      // Function to add a new timeline entry
        function addTimelineEntry(year = '', event = '') {
            const template = document.querySelector('#timelineTemplate');
            if (!template) {
                console.error('Timeline template not found');
                return;
            }

            const clonedElement = template.content.cloneNode(true).querySelector('.timeline-item');
            // Update attributes for the new inputs
            clonedElement.querySelector('.yearInput').setAttribute('id', 'year_' + idCounter);
            clonedElement.querySelector('.eventInput').setAttribute('id', 'event_' + idCounter);
            // Set values if provided
            clonedElement.querySelector('.yearInput').value = year;
            clonedElement.querySelector('.eventInput').value = event;

            // Append the cloned element to the container
            document.getElementById('timelineContainer').appendChild(clonedElement);
            idCounter++; // Increment the ID counter
        }

      // Event listener for adding new timeline entries
      document.getElementById('addTimeline').addEventListener('click', function() {
            addTimelineEntry();
        });

      // Event delegation for removing a timeline entry
        document.getElementById('timelineContainer').addEventListener('click', function(event) {
            if (event.target.classList.contains('deleteButton')) {
                event.target.closest('.timeline-item').remove();
            }
        });
        // Populate timeline with existing data from session
        timelineDataOfBuilding.forEach(function(item, index) {
            if (index === 0) {
                // Set the initial timeline item
                document.getElementById('year_1').value = item.year;
                document.getElementById('event_1').value = item.description;
            } else {
                // Add new timeline items
                addTimelineEntry(item.year, item.description);
            }
        });
    });

    // Define custom suggestions for tags
  var customSuggestions = [
    // Architectural Styles
    "Gothic Revival",
    "Baroque",
    "Neoclassical",
    "Bauhaus",
    "Art Nouveau",
    "Beaux-Arts",
    "Art Deco",
    "Victorian",
    "Edwardian",
    "Colonial Revival",
    "Renaissance Revival",
    "Craftsman",
    "International Style",
    "Brutalist",
    "Postmodern",
    "Deconstructivism",
    "Streamline Moderne",
    "Prairie Style",
    "Futurist",
    "Parametricism",
    "High Tech",
    "Neo-Futurism",

    // Sustainable and Modern Features
    "Sustainable",
    "Eco-friendly",
    "Green Building",
    "Smart Building",
    "Energy Efficient",
    "Solar Powered",
    "Adaptive Reuse",
    "Heritage Conservation",

    // Usage Subcategories - Residential
    "Apartment Complex",
    "Single-Family Home",
    "Duplex",
    "Townhouse",
    "Condominium",
    "Cooperative",
    "Senior Living",
    "Student Housing",

    // Usage Subcategories - Commercial
    "Retail Store",
    "Shopping Mall",
    "Office Building",
    "Business Park",
    "Restaurant",
    "Hotel",
    "Convention Center",
    "Entertainment Venue",

    // Usage Subcategories - Industrial
    "Factory",
    "Warehouse",
    "Distribution Center",
    "Data Center",
    "Research Facility",
    "Light Manufacturing",
    "Heavy Manufacturing",

    // Usage Subcategories - Institutional
    "School",
    "University",
    "Hospital",
    "Clinic",
    "Library",
    "Museum",
    "Government Building",
    "Religious Building",

    // Usage Subcategories - Recreational
    "Park",
    "Stadium",
    "Arena",
    "Gymnasium",
    "Swimming Pool",
    "Community Center",
    "Golf Course",
    "Amusement Park",

    // Usage Subcategories - Mixed-Use
    "Live/Work",
    "Retail/Residential",
    "Office/Residential",
    "Commercial/Cultural",
    "Transport Hub",

    // Usage Subcategories - Transport
    "Airport",
    "Train Station",
    "Subway Station",
    "Bus Terminal",
    "Port",
    "Parking Garage",

    // Usage Subcategories - Agricultural
    "Farmhouse",
    "Barn",
    "Greenhouse",
    "Stable",
    "Vineyard",

    // Usage Subcategories - Specialized
    "Theater",
    "Cinema",
    "Broadcasting Studio",
    "Laboratory",
    "Observatory",
    "Fire Station",
    "Police Station",

    // Additional Features and Characteristics
    "Landmark",
    "Iconic",
    "Waterfront",
    "Skyline Defining",
    "Pedestrian-Friendly",
    "Transit-Oriented",
    "Historical",
    "Contemporary",
    "Renovated",
    "Low-rise",
    "High-rise",
    "Skyscraper",
    "Underground",
    "Floating",
    "Modular",
    "Prefabricated"
    // Add more tags as needed
];

  // Initialize Tagify on the input element with custom settings
  var input = document.getElementById('tagInput');
  var tagify = new Tagify(input, {
    whitelist: customSuggestions, // Use the custom suggestions
    dropdown: {
      enabled: 1, // always show suggestions dropdown when the input gets focus
      maxItems: 20,
      position: "text", // place the dropdown near the typed text
      closeOnSelect: false, // keep the dropdown open after selecting a suggestion
      highlightFirst: true
    }
  });

  // Initialize Tagify on the 'typeOfUseSelect' input element
  var typeOfUseInput = document.getElementById('typeOfUseSelect');
  var typeOfUseTagify = new Tagify(typeOfUseInput, {
    enforceWhitelist: true,
    whitelist: [
      "Residential Building",
      "Commercial Building",
      "Industrial Building",
      "Institutional Building",
      "Recreational Building",
      "Historical Building",
      "Mixed-Use Building",
      "Transport Building",
      "Agricultural Building",
      "Specialized Building"
    ],
      mode : "select",
    dropdown: {
      enabled: 0
    },
    maxTags: 1
  });

  tagify.DOM.scope.classList.add('border', 'border-gray-300', 'rounded-lg', 'p-1', 'bg-white', 'focus:border-blue-500');
  typeOfUseTagify.DOM.scope.classList.add('border', 'border-gray-300', 'rounded-lg', 'p-1', 'bg-white', 'focus:border-blue-500');
  // Listen to the 'add' event, which is triggered when a new tag is added
  tagify.on('add', onAddTag);

  // Function to handle a new tag added
  function onAddTag(e) {
    console.log("Added a tag:", e.detail.data.value);
  }



document.addEventListener('DOMContentLoaded', function() {
        var savedTypeOfUse = "{{ selected_building.typeOfUse|escapejs }}";
        if(savedTypeOfUse) {
            typeOfUseTagify.addTags([savedTypeOfUse]);
        }
    });

  // After initializing Tagify for tagInput
  // Set the value if it exists in the session
  document.addEventListener('DOMContentLoaded', function() {
        var savedTagsJson = '{{ selected_building.tags|safe|default_if_none:"[]"|escapejs }}';
        try {
            var savedTags = JSON.parse(savedTagsJson.replace(/'/g, '"'));
            if(savedTags && savedTags.length > 0) {
                tagify.addTags(savedTags);
            }
        } catch(e) {
            console.error("Error parsing saved tags: ", e);
        }
    });

    <!-- JavaScript to Preview Images Before Upload -->
var imageBoxCount = 0;
var processedFiles = new Map(); // To keep track of processed files
var selectedPreviewId = null;
var buildingAddress = "{{ building.address|escapejs }}";

// Creates an image box for each file
function createImageBox(imageData, index,  isSessionImage=false,  fileIdentifier) {
    var box = document.createElement('div');
    box.className = 'image-box';
    box.id = 'imageBox-' + index;
    box.setAttribute('data-session-image', isSessionImage)

    // Check if this image is marked as preview in the session data
    if (imageData.is_preview) {
        box.classList.add('selected-preview');
        selectedPreviewId = box.id;  // Set this box as the selected preview
    }

    var img = new Image();
     if (imageData.blob) {
        // If a blob URL is provided (for new images), use it
        img.src = imageData.blob;
    } else if (imageData.url) {
        // If a file path is provided (for already uploaded images), use it
        img.src = imageData.url;
    } else {
        // Otherwise, set to a placeholder or empty string
        img.src = '';
    }
    img.onclick = function() {
        if (selectedPreviewId) document.getElementById(selectedPreviewId).classList.remove('selected-preview');
        box.classList.add('selected-preview');
        selectedPreviewId = box.id;
        updateSubmitButtonState();
    };
    box.appendChild(img);

    var imageInfo = document.createElement('div');
    imageInfo.className = 'image-info';

    var sourceInput = document.createElement('input');
    sourceInput.type = 'text';
    sourceInput.placeholder = 'Enter image source';
    sourceInput.className = 'flex-1 p-2 border border-gray-300 rounded-lg';
    // If imageData has a source, use it
    sourceInput.value = imageData.source || '';
    imageInfo.appendChild(sourceInput);

    var yearInput = document.createElement('input');
    yearInput.type = 'number';
    yearInput.placeholder = 'Year';
    yearInput.className = 'flex-[0.67] ml-2 p-2 border border-gray-300 rounded-lg';
    yearInput.setAttribute('min', '1000');
    yearInput.setAttribute('max', new Date().getFullYear());
    // If imageData has a year, use it
    yearInput.value = imageData.year || '';
    imageInfo.appendChild(yearInput);

    var closeBtn = document.createElement('span');
    closeBtn.innerHTML = '&times;';
    closeBtn.className = 'close-btn';
    closeBtn.onclick = function(event) {
        event.stopPropagation();
        box.remove();
        imageBoxCount--;
        if (box.id === selectedPreviewId) selectedPreviewId = null;
        updateAddButton();

        if(isSessionImage) {
            removeImageFromSession(index);
        }
        else
        {
            processedFiles.delete(fileIdentifier);
        }
    };
    box.appendChild(closeBtn);
    box.appendChild(imageInfo);
    document.getElementById('imagePreview').appendChild(box);
}


// Reads and previews each file
function readAndPreview(file) {
    var fileIdentifier = file.name + '-' + file.lastModified;
    if (processedFiles.has(fileIdentifier)) return;
    processedFiles.set(fileIdentifier, file);

    if ( /\.(jpe?g|png|gif|webp)$/i.test(file.name) ) {
        var reader = new FileReader();
        reader.onload = function() {
            createImageBox({blob: reader.result, source: '', year: '', is_preview: false}, imageBoxCount++, false, fileIdentifier);
        };
        reader.readAsDataURL(file);
    }
}

// Triggered when user selects files, calls readAndPreview for each file
function previewImages() {
    var files = document.getElementById('upload').files;
    [].forEach.call(files, readAndPreview);
    setTimeout(updateAddButton, 100);
}

// Utility functions
function updateAddButton() {
    var allImageBoxes = document.querySelectorAll('.image-box');
    if (allImageBoxes.length > 0) {
        var lastImageBox = allImageBoxes[allImageBoxes.length - 1];
        var addBtn = document.createElement('span');
        addBtn.innerHTML = '+';
        addBtn.className = 'add-btn';
        addBtn.onclick = function() { document.getElementById('upload').click(); };
        lastImageBox.appendChild(addBtn);
    }
}


function isPreviewImageSelected() {
    return selectedPreviewId !== null;
}

function openAmsterdamArchief() {
        var url = "https://archief.amsterdam/beeldbank/?mode=gallery&view=horizontal&q=" + encodeURIComponent("{{ selected_building.address }}") + "&page=1&reverse=0";
        window.open(url, '_blank').focus();
    }

function removeImageFromSession(index) {
    fetch("/api/buildings/session/images/remove", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({index: index})
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log("Image removed:", data);
        // Refresh the image boxes
        // Delayed to allow the server to delete the image
        setTimeout(createImageBoxesFromSession, 200);
    })
    .catch(error => {
        console.error("Error:", error);
    });
}

// Function to gather and submit building data
function submitBuildingData() {
    // Gather data from form fields
    var buildingData = {
        'location': {
            'type': 'Point',
            'coordinates': [
                parseFloat(document.getElementById('{{ form.location.id_for_label }}').value),
                parseFloat(document.getElementById('{{ form.location.id_for_label }}').value)
            ]
        },
        'address': document.getElementById('{{ form.address.id_for_label }}').value,
        'name': document.getElementById('{{ form.name.id_for_label }}').value,
        'construction_year': parseInt(document.getElementById('{{ form.construction_year.id_for_label }}').value),
        'type_of_use': document.getElementById('{{ form.type_of_use.id_for_label }}').value,
        'description': document.getElementById('{{ form.description.id_for_label }}').value,
        'tags': tagify.value.map(tag => tag.value),
        'timeline': getTimelineData(),
        // EXCLUDE 'images_urls' for NOW
    };

    fetch('/api/building/update', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify(buildingData)
    })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            window.location.href = '/buildings';
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error - show error message to the user
        });
}


// Function to get timeline data from the frontend
function getTimelineData() {
    var timelineItems = document.querySelectorAll('.timeline-item');
    var timelineData = [];

    timelineItems.forEach(function(item) {
        var year = item.querySelector('.yearInput').value;
        var description = item.querySelector('.eventInput').value;

        if (year && description) {
            timelineData.push({
                'year': parseInt(year),
                'description': description
            });
        }
    });

    return timelineData;
}


var imagesMetadata = {{ image_urls|safe }};
    // Function to create image boxes from session data
    console.log(imagesMetadata);
    function createImageBoxesFromSession() {
        imagesMetadata.forEach(function(image, index) {
            createImageBox(image, index, true);
        });
    }

    // Call the function when the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function() {
    createImageBoxesFromSession();
    // Other initialization code...
});

document.getElementById('upload').addEventListener('change', previewImages);

  </script>
</html>
