<!-- Image preview area above the buttons -->
            <div id="imagePreview" class="flex justify-center flex-wrap mt-4">
                <!-- Image thumbnails will be added here in little boxes -->
            </div>

            <!-- Form for Image Upload and Google Maps Search -->
            <div class="flex justify-center items-center bg-gray-100">
                <form method="post" enctype="multipart/form-data" class="p-8 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 font-[\'Oswald\']">
                    <!-- Hidden input for file upload -->
                    <input type="file" id="upload" name="images" multiple class="hidden" onchange="previewImages()" />

                    <!-- Label acting as button for file upload -->
                    <label for="upload" class="btn-same-height bg-sky-900 px-12 justify-center items-center rounded-3xl text-white flex-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                        Upload Pictures to the Building
                    </label>

                    <!-- Button for Google Maps Search (functionality to be implemented) -->
                    <button type="button" class="btn-same-height border-2 rounded-3xl border-sky-900 px-12 text-sky-900 flex-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                        Browse Google Maps for Images
                    </button>

                    <!-- Image preview area -->
                    <div id="imagePreview" class="flex flex-wrap mt-4">
                        <!-- Image thumbnails will be added here -->
                    </div>
                </form>
            </div>

<script>
    <!-- JavaScript to Preview Images Before Upload -->
var imageBoxCount = 0;
var processedFiles = new Map(); // To keep track of processed files
var selectedPreviewId = null;

// Creates an image box for each file
function createImageBox(imageData, index,  isSessionImage=false,  fileIdentifier) {
    var box = document.createElement('div');
    box.className = 'image-box';
    box.id = 'imageBox-' + index;
    box.setAttribute('data-session-image', isSessionImage)


    // Check if this image is marked as preview in the session data
    if (imageData.is_preview) {
        box.classList.add('selected-preview');
        selectedPreviewId = box.id;  // Set this box as the selected preview
    }

    var img = new Image();
     if (imageData.blob) {
        // If a blob URL is provided (for new images), use it
        img.src = imageData.blob;
    } else if (imageData.file_path) {
        // If a file path is provided (for already uploaded images), use it
        img.src = `/buildings/temp${imageData.file_path}`;
    } else {
        // Otherwise, set to a placeholder or empty string
        img.src = '';
    }
    img.onclick = function() {
        if (selectedPreviewId) document.getElementById(selectedPreviewId).classList.remove('selected-preview');
        box.classList.add('selected-preview');
        selectedPreviewId = box.id;
        updateSubmitButtonState();
    };
    box.appendChild(img);

    var imageInfo = document.createElement('div');
    imageInfo.className = 'image-info';

    var sourceInput = document.createElement('input');
    sourceInput.type = 'text';
    sourceInput.placeholder = 'Enter image source';
    sourceInput.className = 'flex-1 p-2 border border-gray-300 rounded-lg';
    // If imageData has a source, use it
    sourceInput.value = imageData.source || '';
    imageInfo.appendChild(sourceInput);

    var yearInput = document.createElement('input');
    yearInput.type = 'number';
    yearInput.placeholder = 'Year';
    yearInput.className = 'flex-[0.67] ml-2 p-2 border border-gray-300 rounded-lg';
    yearInput.setAttribute('min', '1000');
    yearInput.setAttribute('max', new Date().getFullYear());
    // If imageData has a year, use it
    yearInput.value = imageData.year || '';
    imageInfo.appendChild(yearInput);

    var closeBtn = document.createElement('span');
    closeBtn.innerHTML = '&times;';
    closeBtn.className = 'close-btn';
    closeBtn.onclick = function(event) {
        event.stopPropagation();
        box.remove();
        imageBoxCount--;
        if (box.id === selectedPreviewId) selectedPreviewId = null;
        updateAddButton();

        if(isSessionImage) {
            removeImageFromSession(index);
        }
        else
        {
            processedFiles.delete(fileIdentifier);
        }
    };
    box.appendChild(closeBtn);

    box.appendChild(imageInfo);
    document.getElementById('imagePreview').appendChild(box);
}


// Reads and previews each file
function readAndPreview(file) {
    var fileIdentifier = file.name + '-' + file.lastModified;
    if (processedFiles.has(fileIdentifier)) return;
    processedFiles.set(fileIdentifier, file);

    if ( /\.(jpe?g|png|gif|webp)$/i.test(file.name) ) {
        var reader = new FileReader();
        reader.onload = function() {
            createImageBox({blob: reader.result, source: '', year: '', is_preview: false}, imageBoxCount++, false, fileIdentifier);
        };
        reader.readAsDataURL(file);
    }
}

// Triggered when user selects files, calls readAndPreview for each file
function previewImages() {
    var files = document.getElementById('upload').files;
    [].forEach.call(files, readAndPreview);
    setTimeout(updateAddButton, 100);
}

// Prepares and sends the FormData with images and metadata to the server
function submitImagesMetadata() {

    if (!isPreviewImageSelected()) {
        alert('Please select a preview image');
        return;
    }

    var formData = new FormData();
    var index = 0; // Initialize a shared index

    // Append image files with the index
    processedFiles.forEach((file) => {
        formData.append('image_' + index, file);
        index++; // Increment the index for each file
    });

    index = 0; // Reset the index for metadata

    // Append metadata with the index
    document.querySelectorAll('.image-box').forEach(function(box) {
        var sourceInput = box.querySelector('input[type="text"]');
        var yearInput = box.querySelector('input[type="number"]');
        var metadata = {
            source: sourceInput.value,
            year: yearInput.value,
            is_preview: box.id === selectedPreviewId
        };
        formData.append(`metadata_${index}`, JSON.stringify(metadata));
        index++; // Increment the index for each set of metadata
    });



    // Proceed with the fetch request
    fetch("/api/buildings/session/images", {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log("Success:", data);
        createImageBoxesFromSession();
    })
    .catch(error => {
        console.error("Error:", error);
    });
}
// Utility functions
function updateAddButton() {
    var allImageBoxes = document.querySelectorAll('.image-box');
    if (allImageBoxes.length > 0) {
        var lastImageBox = allImageBoxes[allImageBoxes.length - 1];
        var addBtn = document.createElement('span');
        addBtn.innerHTML = '+';
        addBtn.className = 'add-btn';
        addBtn.onclick = function() { document.getElementById('upload').click(); };
        lastImageBox.appendChild(addBtn);
    }
}

function updateSubmitButtonState() {
    var submitButton = document.getElementById('nextButton');
    if (isPreviewImageSelected()) {
        submitButton.removeAttribute('disabled');
    } else {
        submitButton.setAttribute('disabled', 'disabled');
    }
}
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function isPreviewImageSelected() {
    return selectedPreviewId !== null;
}

function removeImageFromSession(index) {
    fetch("/api/buildings/session/images/remove", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({index: index})
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log("Image removed:", data);
        // Refresh the image boxes
        // Delayed to allow the server to delete the image
        setTimeout(createImageBoxesFromSession, 200);
    })
    .catch(error => {
        console.error("Error:", error);
    });
}

var imagesMetadata = {{ images_metadata_json|safe }};

    // Function to create image boxes from session data
    function createImageBoxesFromSession() {
        imagesMetadata.forEach(function(image, index) {
            image.src = `/buildings/temp/${image.file_path}`
            createImageBox(image, index, true);
        });
    }

    // Call the function when the DOM is fully loaded
    document.addEventListener('DOMContentLoaded', function() {
    createImageBoxesFromSession();
    // Other initialization code...
});

document.getElementById('nextButton').addEventListener('click', function(event) {
    event.preventDefault();
    submitImagesMetadata();
});

document.getElementById('upload').addEventListener('change', previewImages);

</script>