{% if request.path == "/buildings/import/detail" %}
<a
  href="/buildings/import/images"
  class="bg-stone-400 rounded-3xl px-10 ml-4 border-sky-900 text-white font-\[\'Oswald\'\]] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
>
  <p class="mt-2">Next</p>
</a>
{% endif %} {% if request.path == "/buildings/import/images" %}
<a
  href="/buildings/import/timeline"
  class="bg-stone-400 rounded-3xl px-10 ml-4 border-sky-900 text-white font-\[\'Oswald\'\]] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
>
  <p class="mt-2">Next</p>
</a>
{% endif %} {% if request.path == "/buildings/import/timeline" %}
<a
  href="/buildings/import/audioguides"
  class="bg-stone-400 rounded-3xl px-10 ml-4 border-sky-900 text-white font-\[\'Oswald\'\]] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
>
  <p class="mt-2">Next</p>
</a>
{% endif %} {% if request.path == "/buildings/import/audioguides" %}
<a
  href="/buildings/import/review"
  class="bg-stone-400 rounded-3xl px-10 ml-4 border-sky-900 text-white font-\[\'Oswald\'\]] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
>
  <p class="mt-2">Next</p>
</a>
{% endif %} {% if request.path == "/buildings/import/position" %}
<a
  href="/buildings/import/detail"
  class="bg-stone-400 rounded-3xl px-10 ml-4 border-sky-900 text-white font-\[\'Oswald\'\]] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
>
  <p class="mt-2">Next</p>
</a>
{% endif %}
