{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>ANNO Amsterdam</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-red-50 font-serif leading-normal tracking-normal">

    <!-- Navigation Bar -->

    <section>
        <nav class="bg-white shadow-md p-4">

{#                        <img src="../../media/images/anno-logo.png" alt=" ">#}
{#                        <div class="space-y-1 px-2 pb-3 pt-2">#}
{#                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->#}
{#            <a href="#" class="hover:bg-gray-700 hover:text-white block rounded-md font-medium">#}
{#                <span>#}
{#                    <img src="../../media/images/anno-logo.png"> AMSTERDAM#}
{#                </span>#}
{##}
{#            </a>#}
{#            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">BUILDINGS</a>#}
{#            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">IMPORT</a>#}
{#            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">USERS</a>#}

  <div class="container mx-auto px-6 py-3 flex justify-between items-center">
    <!-- Logo and title -->
    <a href="#" class="items-center text-gray-800">

      <span class="font-bold text-xl">
          <img class="h-8 w-8 rounded-full object-cover" src="../../media/images/anno-logo.png" alt=""/>
          AMSTERDAM
      </span>
    </a>

    <!-- Navigation Links -->
    <div class="flex items-stretch space-x-4">
      <a href="#" class="text-gray-800 hover:text-gray-600 font-semibold">Buildings</a>
      <a href="#" class="text-gray-800 hover:text-gray-600 font-semibold">Import</a>
      <a href="#" class="text-gray-800 hover:text-gray-600 font-semibold">Users</a>
      <a href="#" class="text-gray-800 hover:text-gray-600 font-semibold">Statistics</a>
    </div>

    <!-- Profile and logout -->
    <div class="flex items-center space-x-4">
      <!-- Profile image -->
      <img class="h-8 w-8 rounded-full object-cover" src="../../media/images/anno-logo.png" alt="">
      <!-- Logout or action button -->
      <button class="bg-purple-600 text-white px-4 py-2 rounded shadow hover:bg-purple-500 focus:outline-none focus:ring">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <!-- SVG path for logout or action icon -->
        </svg>
      </button>
    </div>
  </div>
</nav>

        {% block content %}
        {% endblock %}


    </section>
	</body>
</html>
